/* resets default spaces*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    flex: auto;
    align-items: center; 
    min-height: 100vh;
}

/* nav bar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #e5e7eb;
}

#hero{
    text-align: center;
    padding: 40px;
    max-width: 600px;
    width: 100%;
}
